@tailwind base;
@tailwind components;
@tailwind utilities;

.warna {
  color: #63677;
  color: #999D9F;
  color: #C0C0C0;
  color: #EDEDED;
}

body {
  font-family: 'Lexend', sans-serif;
}

h1 {
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
}

section {
  height: 100vh;
}

.scroll-container {
  height: 500px; /* Container dengan tinggi tertentu */
  overflow: hidden; /* Pastikan pengguliran berfungsi */
  position: relative; /* Diperlukan untuk elemen animasi */
}

.animated-element {
  opacity: 0; /* Awalnya tersembunyi */
  transform: translateY(50px); /* Awalnya bergeser ke bawah */
  width: 100px;
  height: 100px;
  background-color: blue;
}